db/
incremental_db/
output_files/
/quartus/simulation/
greybox_tmp/
.vscode/
/hc_output
/.qsys_edit
*.qws
*.rpt
*.ppf
*.ddb
*.cmp
*.sip
*.spd
*.bsf
*.f
*.hdl
*.html
*.jdi
*.log
*.mif_update_rpt
*.pin
*.pof
*.rpt
*.smsg
*.sof
*.summary
*.done
*.jdi
*.rbf
*.bak
*.json
*.qsys_edit
*.exe
eth_sender.exe
eth_fft_top_description.txt
notes.txt
/tb/audio_fft_fft_ii_0_3n1024sin.hex
vsim.wlf
/tb/audio_fft
/tb/libraries
/tb/sim
/tb/work
/tb/work_tb
/tb/audio_fft_fft_ii_0_1n1024cos.hex
/tb/audio_fft_fft_ii_0_1n1024sin.hex
/tb/audio_fft_fft_ii_0_2n1024cos.hex
/tb/audio_fft_fft_ii_0_2n1024sin.hex
/tb/audio_fft_fft_ii_0_3n1024cos.hex
tempCodeRunnerFile.cpp
