db/
incremental_db/
output_files/
/quartus/simulation/
greybox_tmp/
.vscode/
/hc_output
/.qsys_edit
*.qws
*.rpt
*.ppf
*.ddb
*.cmp
*.sip
*.spd
*.bsf
*.f
*.hdl
*.html
*.jdi
*.log
*.mif_update_rpt
*.pin
*.pof
*.rpt
*.smsg
*.sof
*.summary
*.done
*.jdi
*.rbf
*.bak
*.json
*.qsys_edit
*.exe
eth_sender.exe
eth_fft_top_description.txt
notes.txt
C:\Users\chinc\FPGA-Ethernet-FFT\tb\audio_fft_fft_ii_0_3n1024sin.hex
C:\Users\chinc\FPGA-Ethernet-FFT\tb\vsim.wlf
C:\Users\chinc\FPGA-Ethernet-FFT\tb\audio_fft
C:\Users\chinc\FPGA-Ethernet-FFT\tb\libraries
C:\Users\chinc\FPGA-Ethernet-FFT\tb\sim
C:\Users\chinc\FPGA-Ethernet-FFT\tb\work
C:\Users\chinc\FPGA-Ethernet-FFT\tb\work_tb
C:\Users\chinc\FPGA-Ethernet-FFT\tb\audio_fft_fft_ii_0_1n1024cos.hex
C:\Users\chinc\FPGA-Ethernet-FFT\tb\audio_fft_fft_ii_0_1n1024sin.hex
C:\Users\chinc\FPGA-Ethernet-FFT\tb\audio_fft_fft_ii_0_2n1024cos.hex
C:\Users\chinc\FPGA-Ethernet-FFT\tb\audio_fft_fft_ii_0_2n1024sin.hex
C:\Users\chinc\FPGA-Ethernet-FFT\tb\audio_fft_fft_ii_0_3n1024cos.hex
